.Chat-whole
  = render 'shared/side_bar'
  .Chat-whole__Chat-main
    .Chat-whole__Chat-main__main-header
      .Chat-whole__Chat-main__main-header__current-group
        .Chat-whole__Chat-main__main-header__current-group__group-name
          SAMPLE
        .Chat-whole__Chat-main__main-header__current-group__member-list
          Member：test-user
      .Chat-whole__Chat-main__main-header__edit-btn
        =link_to edit_group_path(:id) do
          Edit
    .Chat-whole__Chat-main__messages
      .Chat-whole__Chat-main__messages__message
        .Chat-whole__Chat-main__messages__message__detail
          .Chat-whole__Chat-main__messages__message__detail__detail-user
            test-user
          .Chat-whole__Chat-main__messages__message__detail__detail-date
            2019/07/06(Sat) 18:56:10
        .Chat-whole__Chat-main__messages__message__text
          hello
    .Chat-whole__Chat-main__type-box
      .Chat-whole__Chat-main__type-box__create
        .Chat-whole__Chat-main__type-box__create__input-area
          .Chat-whole__Chat-main__type-box__create__input-area__text
            type a message
          %label.Chat-whole__Chat-main__type-box__create__input-area__image
            %i.fa.fa-picture-o{for: "message_image"}
            .Chat-whole__Chat-main__type-box__create__input-area__input
              = file_field :image, id: "message_image"
        .Chat-whole__Chat-main__type-box__create__submit-btn
          Send
